<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <%= f.fields_for :addresses do |address| %>
    <div class="field">
      <%= address.label :street %><br />
      <%= address.text_field :street %>
    </div>

    <div class="field">
      <%= address.label :city %><br />
      <%= address.text_field :city %>
    </div>

    <div class="field">
      <%= address.label :province_id %><br />
      <%= address.collection_select :province_id, Province.all, :id, :name %>
    </div>

    <div class="field">
      <%= address.label :postal_code %><br />
      <%= address.text_field :postal_code %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
