<!DOCTYPE html>
<html>
<head>
  <title>Product Listing</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

  <style>
    .product-image {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
  </style>
</head>

<body>

  <div class="products">
    <h1>Products</h1>
    <div>
      <h2>Filter by Category</h2>
      <%= form_with(url: root_path, method: :get, local: true) do |form| %>
        <% @categories.each do |category| %>
          <%= check_box_tag 'category_ids[]', category.id, params[:category_ids]&.include?(category.id.to_s) %>
          <%= label_tag "category_ids_#{category.id}", category.name %>
        <% end %>
        <%= form.submit 'Filter' %>
      <% end %>
    </div>
    <div>
      <h2>Search</h2>
      <%= form_with(url: root_path, method: :get, local: true) do |form| %>
        <%= form.text_field :search, value: params[:search], placeholder: 'Search products...' %>
        <%= form.collection_select :search_category_id, @categories, :id, :name, { include_blank: 'All Categories' }, { value: params[:search_category_id] } %>
        <%= form.submit 'Search' %>
      <% end %>
    </div>
    <% @products.each do |product| %>
      <div class="product">
        <h3><%= link_to product.name, product_path(product) %></h3>
        <p><%= product.description %></p>
        <p>Price: $<%= product.price %></p>
        <p>Category: <%= product.category.name %></p>
        <% if product.image.attached? %>
        <%= image_tag product.image, class: 'product-image' %>
      <% end %>
      </div>
    <% end %>
    <%= paginate @products %>
  </div>
  </body>
</html>
      