<h1>My Orders</h1>
<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Date</th>
      <th>Total</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at.to_date %></td>
        <td><%= number_to_currency(order.total_price) %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'View', order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>