<!DOCTYPE html>
<html>
<head>
  <title><%= @category.name %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body>
  <h1>Category: <%= @category.name %></h1>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= link_to product.name, product_path(product) %>
        <p><%= product.description %></p>
        <p>Price: $<%= product.price %></p>
      </li>
    <% end %>
  </ul>

  <%= paginate @products %>
</body>
</html>
